/* html {
    scroll-behavior: smooth;
} */

.top-bar {
    background-color: #FFFFFF;
    position: sticky;
    width: 100%;
    z-index: 10;
    padding: 20px 0px;
    
}

.top-bar h1 {
    color: #7DD1F4;
}

.top-bar ul {
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0;
    margin-top: 25px;
}

.top-bar li {
    color: #555;
    font-family: 'Roboto', sans-serif;
    display: inline;
    font-size: 25px;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .top-bar {
        padding: 10px;
        margin: 0;
    }
    .top-bar ul {
        text-align: center;
        margin: 0;
        padding: 10px 0px;
    }
}

.top-bar a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #555;
    transition: .5s;
}

.top-bar a:hover {
    color: #7DD1F4;
}

.logo {
    padding: 10px 15px;
    border: solid 4px #555;
    outline: 2px solid rgb(109, 109, 109);
    outline-offset: 4px;
}

.logo h1 {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    margin: 0;
    text-align: center;
}

.logo h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 0;
    text-align: center;
}

.hero {
    color: #fff;
    padding: 290px 0;
    position: relative;
    background: url(../media/portfolio\ background@2x.png) no-repeat 50%;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}

@media (max-width: 768px) {
    
}

.hero_info img {
    position: absolute;
    top: -60px;left: 0;
    z-index: 1;
    background: #7DD1F4;
    border: 12px solid #fff;
}

.hero_text h1,h2 {
    text-align: center;
}

.hero_text h1 {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    color: #7DD1F4
}

.hero_text h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

.hero_text ul {
    list-style: none;
    text-align: center;
    margin-right: 60px;
}

.hero_text li {
    display: inline;
    padding-left: 20px;
}

.hero li img {
    width: 32px;
    height: 32px;
}

.about {
    padding-top: 50px;
    background-color: #f4f3f1;
    padding-bottom: 171px;
    box-shadow: inset 0 0 4px #000000;
}

.description h2 {
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #7DD1F4;
}

.description p {
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    color: rgb(109, 109, 109);
}

.description ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.description li {
    color:  rgb(109, 109, 109);
}

.description h3 {
    color: #7DD1F4;
}

.coffee_picture {
    padding-left: 100px;
    padding-top: 50px;
}

.skills_img {
    padding-left: 100px;
    padding-top: 50px;
}

@media (max-width: 768px) {
    .coffee_picture {
        display: none;
    }
    .skills_img {
        display: none;
    }
    .hero_info img {
        display: none;
    }
}

.projects {
    background-color: #f4f3f1;
}

.projects img {
    margin: 10px;
    border: solid 4px #888;
    box-shadow: 3px 3px 5px 6px #ccc;
}

@media (max-width: 768px) {
    .projects img {
        margin: 20px 0;
        border: solid 10px #555;
    }
}

.projects h2 {
    font-weight: bold;
    color: #7DD1F4;
}

.detroix:hover .overlay {
    width: 90.5%;
  }

  .airbox:hover .overlay {
    width: 90.5%;
  }

  .bloom:hover .overlay {
    width: 90.5%;
  }

  .venedor:hover .overlay {
      width: 90.5%;
  }
  
  .projects h2 {
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #7DD1F4;
  }

.overlay {
    position: absolute;
    bottom: 14px;
    left: 29px;
    right: 0;
    background-color: #fff;
    overflow: hidden;
    width: 0;
    height: 86%;
    transition: .5s ease;
    opacity: .80;
}

@media (max-width: 768px) {
    .overlay {
        height: 96%;
        position: absolute;
        bottom: 6px;
        left: 24px;
    }
    .detroix:hover .overlay {
        width: 94%;
      }
    
      .airbox:hover .overlay {
        width: 94%;
      }
    
      .bloom:hover .overlay {
        width: 94%;
      }
      .venedor:hover .overlay {
        width: 94%;
    }
    
}

.text {
    color: #7DD1F4;
    font-family: 'Hind', sans-serif;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  .overlay a {
      text-decoration: none;
  }

  .overlay a:hover {
      color: #7DD1F4;
  }

  .code {
    position: absolute;
    top: 58%;
    left: 24%;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: black;
    padding: 8px 10px;
    border-radius: 12px;
    transition: .5s;
  }

  .website {
    position: absolute;
    top: 58%;
    left: 56%;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: black;
    padding: 8px 10px;
    border-radius: 12px;
    transition: .5s;
  }

  @media (max-width: 768px) {
      .code {
        position: absolute;
        top: 58%;
        left: 38%;
      }
      .weight {
        position: absolute;
        top: 58%;
        left: 53%;
      }
  }

.detroix img {
    position: relative;
}

.project_title h3 {
    text-align: center;
    color: #7DD1F4;
    margin: 1px 0;
}

.project_title p {
    text-align: center;
    color: #555;
    margin: 1px 0;
}

.title_block {
    border: #888 solid 4px;
    margin-left: 10px;
    margin-right: -10px;
    margin-top: -15px;
}

.contact {
    margin-top: 30px;
    background-color: #888;
    box-shadow: inset 0 0 4px #000000;
}

.contact h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #7DD1F4;
}

.contact img {
    width: 24px;
    height: 24px;
}

.contact ul {
    list-style: none;
}

.contact li {
    display: inline;
}
