.top-bar {
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 20px 0px;
    
}

.top-bar h1 {
    color: #7DD1F4;
}

.top-bar ul {
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0;
    margin-top: 25px;
}

.top-bar li {
    color: #555;
    font-family: 'Roboto', sans-serif;
    display: inline;
    font-size: 25px;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .top-bar {
        padding: 10px;
        margin: 0;
    }
    .top-bar ul {
        text-align: center;
        margin: 0;
        padding: 10px 0px;
    }
}

.top-bar a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #555;
    transition: .5s;
}

.top-bar a:hover {
    color: #7DD1F4;
}

.logo {
    padding: 10px 15px;
    border: solid 4px #555;
    outline: 2px solid rgb(109, 109, 109);
    outline-offset: 4px;
}

.logo h1 {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    margin: 0;
    text-align: center;
}

.logo h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 0;
    text-align: center;
}

.hero {
    color: #fff;
    padding: 290px 0;
    position: relative;
    background: url(../media/portfolio\ background@2x.png) no-repeat 50%;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}

@media (max-width: 768px) {
    
}

.hero_info img {
    position: absolute;
    top: -60px;left: 0;
    animation-name: opacity;
    animation-duration: 1s;
    z-index: 1;
    opacity: 1;
    background: #7DD1F4;
    border: 12px solid #fff;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% { 
        opacity: 50;
    }
    75%{
        opacity: .75;
    }
    100% {    
        opacity: 1;
    }

}

.hero_text h1,h2 {
    text-align: center;
}

.hero_text h1 {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    color: #7DD1F4
}

.hero_text h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

.hero_text ul {
    list-style: none;
    text-align: center;
    margin-right: 60px;
}

.hero_text li {
    display: inline;
    padding-left: 20px;
}

.hero li img {
    width: 32px;
    height: 32px;
}

.about {
    padding-top: 50px;
    background-color: #f4f3f1;
    z-index: 4;
}

.description h2 {
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #7DD1F4
}

.description p {
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    color: rgb(109, 109, 109);
}

.description ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.description li {
    color:  rgb(109, 109, 109);
}

.description h3 {
    color: #7DD1F4;
}

.coffee_picture {
    padding-left: 100px;
    padding-top: 50px;
}

.skills_img {
    padding-left: 100px;
    padding-top: 50px;
}

@media (max-width: 768px) {
    .coffee_picture {
        display: none;
    }
    .skills_img {
        display: none;
    }
    .hero_info img {
        display: none;
    }
}
